{% macro display(pitches) %}
<div class="container-fluid">
		<div class="row">
				{% if pitches %}
					{% for category in pitches %}
					<div class="col-md-3" style="height: 300px;" >
						<div class="thumbnail" id="carded">
							<h5 class="card-header" style="font-weight: bold;">{{category.title}}</h5>
							<hr style="color: rgb(238, 140, 12);background-color: rgb(238, 140, 12);height: 3px;">
							<div class="card-body">
									<p>{{category.post}}</p>
									<p class="text-center"><span style="font-weight: bold;"> Category</span>: {{category.category}}</p>
									<footer class="blockquote-footer text-center" ><span style="font-weight: bold;"> Posted by</span>: {{category.user.username}}</footer>
							    <hr style="color: rgb(238, 140, 12);background-color: rgb(238, 140, 12);height: 3px;">
									<div><span class="foot" >{{category.comment.count()}} Comments</span> 
									<span class="foot" > <a href="{{url_for('main.like',id = category.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color:rgb(238, 140, 12)"></i></a> {{category.upvote.count()}}</span>
									
									
									<span class="foot"> <a href="{{url_for('main.dislike',id = category.id)}}"> <i class="fa fa-thumbs-down" style="color:rgb(238, 140, 12);"></i> {{category.downvote.count()}}</a></span></div>
			
								<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm" style="background-color: rgb(238, 140, 12);"> Comment</a>
							</div>
						</div>
					</div>
					
					{% endfor %}
				{% else %}
				<div class="card w-90 mb-3">
					<div class="card-body">
				
						<p class="card-title">Category Has 0 posts</p>
					</div>
				</div>
				{% endif %}
			</div>
</div>
{% endmacro %}